$breakpoints: (
  small: 320px,
  // sm
  medium: 600px,
  // md
  large: 768px,
  // lg
);

// $colorscheme: (
//   gray: (
//     base: #ccc,
//     light: #f2f2f2,
//     dark: #666,
//   ),
//   brown: (
//     base: #ab906b,
//     light: #ecdac3,
//     dark: #5e421c,
//   ),
// );

// $icons: (
//   checkmark: a,
//   plus: b,
//   minus: c,
// );
// $buttons: (
//   error: (
//     #d82d2d,
//     #666,
//   ),
//   success: (
//     #52bf4a,
//     #fff,
//   ),
//   warning: (
//     #c23435,
//     #fff,
//   ),
// );
// $zindex: (
//   offcanvas: 1,
//   lightbox: 500,
//   dropdown: 10,
//   tooltip: 15,
// );
// $font: (
//   color: #666,
//   family: (
//     Arial,
//     Helvetica,
//   ),
//   size: 16px,
//   line-height: 1.4,
// );
